<!DOCTYPE html>
<html>
<head>
	<title><%= @page_title %></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header>
		<nav>
			<a href="/items">Index</a>
			<a href="/items/new">New item</a>
		</nav>
	</header>
	<h1>Awesome to do list App!</h1>
	<% if session[:message] %>
		<p class="msg">
			<%= session[:message] %>
		</p>
		<% session[:message] = nil 
	end %>
	<%= yield %>
</body>
</html>