<!DOCTYPE html>
<html>
<head>
	<title><%= @page_title %></title>
</head>
<body>
	<header>
		<nav>
			<a href="/items">Index</a>
			<a href="/items/new">New item</a>
		</nav>
	</header>
	<h1>Awesome to do list App!</h1>
	<%= yield %>
</body>
</html>