.accent {
	border: 1px red solid;
}

.btn {
	border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-width: 1px;
    padding: 1px 7px 2px;
	align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    border-image: initial;
    user-select: none;
    white-space: pre;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    margin: 0em;
    font: 400 11px system-ui;
    text-decoration: none;
    border-radius: 4px;
}

p.msg {
    background: lightgreen;
    color: brown;
    border: 1px solid black;
}